.list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px;
}
.item {
  width: calc(100% / 3);
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  & > * {
    flex-grow: 1;
  }
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}